# Slack
SLACK_BOT_TOKEN=xoxb-                 # From OAuth & Permissions
SLACK_SIGNING_SECRET=                 # From Basic Information
SLACK_APP_TOKEN=xapp-                 # From Basic Information (for Socket Mode)
SLACK_CHANNEL_ID=channel-id           # Channel where bot operates

# S3 Config CF in this example
AWS_ACCESS_KEY_ID=1234567890abcdef
AWS_SECRET_ACCESS_KEY=abcdef1234567890
AWS_BUCKET_NAME=my-cdn-bucket
AWS_REGION=auto
AWS_ENDPOINT=https://<accountid>.r2.cloudflarestorage.com
AWS_CDN_URL=https://cdn.beans.com

# API
API_TOKEN=beans                       # Set a secure random string
PORT=3000