/node_modules/
/splitfornpm/
/.idea/
/.env
/package-lock.json
/.history

.DS_Store
.AppleDouble
.LSOverride
.Icon?
._*
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine
.git
.gitmodules
/target
**/target
.cargo/
.rustup/
cdn.db
/Cargo.lock